<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jl.ratatouille">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:name="com.example.jl.ratatouille.sync.AppController"


        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="Login"
            android:parentActivityName=".activity.MainActivity"></activity>
        <activity
            android:name=".activity.RegistrationActivity"
            android:label="Register"

            android:parentActivityName=".activity.MainActivity"></activity>


        <activity android:name=".activity.ListActivity"
            android:parentActivityName="com.example.jl.ratatouille.activity.MainActivity" >
        </activity>
        <activity android:name=".activity.RatViewActivity"
            android:parentActivityName=".activity.ListActivity">
        </activity>
        <activity android:name=".activity.AddRatActivity"
            android:parentActivityName=".activity.ListActivity">
        </activity>
        <activity android:name=".activity.SettingsActivity"
            android:parentActivityName=".activity.ListActivity">
        </activity>
        <activity android:name=".activity.MapsActivity"
            android:parentActivityName=".activity.ListActivity">
        </activity>

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAAFf9nwOeAsYt7HJz6Kte_pvsO2-T253s"/>

        <service
            android:name=".service.DataService"
            android:exported="false"/>


    </application>
</manifest>